@import "tailwindcss";
@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css');

body {
    background-color: #0C0C0C;
}

@font-face {
    font-family: 'Moranga';
    src: url('./assets/moranga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'Moranga', sans-serif;
  }
  